{{ 'slideshow.css' | asset_url | stylesheet_tag }}
{{ 'banner-with-slider.css' | asset_url | stylesheet_tag }}

{% liquid
  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif

  assign classes = 'm-section m-banner-with-slider'
  if section.settings.custom_class != blank
    assign classes = classes | append: ' ' | append: section.settings.custom_class
  endif
  assign classes = classes | append: ' m-gradient' | append: ' m-color-' | append: section.settings.color_scheme
%}
<style>
  #m-banner-with-slider-{{ section.id }} {
    --items: 1;
    --section-padding-top: {{ section.settings.padding_top }}px;
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
  }
</style>

<section
  id="m-banner-with-slider-{{ section.id }}"
  class="{{ classes }}"
  data-section-type="banner-with-slider"
  data-section-id="{{ section.id }}"
>
  <div class="{{ container }} m-section-my m-section-py">
    {% render 'index-section-header', section_settings: section.settings %}
    <m-banner-with-slide
      data-id="{{ section.id }}"
      data-autoplay="{% if request.design_mode %}false{% else %}{{ section.settings.slide_autoplay }}{% endif %}"
      data-timeout="{{ section.settings.autorotate_speed | times: 1000 }}"
      class="sm:m:grid sm:m:grid-4-cols"
    >
      <div class="m-banner-with-slider__banner m-banner-with-slider__banner--medium sm:m:grid">
        <a
          href="{{ section.settings.button_link_1 }}"
          class="m-hover-box m-hover-box--scale-up m:block"
          aria-label="banner"
        >
          {% if section.settings.banner_image_1 %}
            {% render 'responsive-image', image: section.settings.banner_image_1, wrapper_class: 'm:w-full m:h-full' %}
          {% else %}
            <div class="m-placeholder-wrapper m:h-full m:w-full">
              {{
                'collection-4'
                | placeholder_svg_tag: 'm-placeholder-svg m-placeholder-svg--no-border m:w-full m:h-full m:object-cover'
              }}
            </div>
          {% endif %}
        </a>
        <div class="m-banner-with-slider__banner-content{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
          {% if section.settings.button_text_1 != blank %}
            <a
              href="{{ section.settings.button_link_1 | default: '#' }}"
              class="m-button {{ section.settings.button_style_1 | replace: 'sf__btn-primary', 'm-button--primary' | replace: 'sf__btn-secondary', 'm-button--secondary' | replace: 'sf__btn-link', 'm-button--link' | replace: 'sf__btn-white', 'm-button--white' }} {{ section.settings.button_size_1 }}"
              {% if animated %}
                data-cascade
                style="--animation-order: 1;"
              {% endif %}
            >
              {{ section.settings.button_text_1 }}
            </a>
          {% endif %}
        </div>
      </div>
      <div class="m-banner-with-slider__slider">
        <div class="m-slider m:h-full">
          <div class="m-slider-{{ section.id }} swiper-container swiper--equal-height m:h-full">
            <div class="swiper-wrapper">
              {% for block in section.blocks %}
                {% liquid
                  assign content_positions = block.settings.content_position | split: ' '
                  assign text_alignment = block.settings.text_alignment
                  assign text_horizontal_alignment = content_positions.first
                  assign text_vertical_alignment = content_positions.last | strip

                  assign block_classes = ' m-gradient m-color-' | append: block.settings.color_scheme

                  assign text_color = block.settings.content_text_color

                  assign heading_color = ''
                  assign desc_color = 'm:text-color-subtext'
                  if text_color != 'inherit'
                    assign heading_color = heading_color | append: 'm:text-' | append: text_color
                    assign desc_color = 'm:text-' | append: text_color
                  endif
                %}
                <div
                  {{ block.shopify_attributes }}
                  data-slide="{{ forloop.index0 }}"
                  class="{{ block_classes }} swiper-slide m-bg-lazy"
                >
                  <div class="m-slide m-slide--{{ text_vertical_alignment }}-{{ text_horizontal_alignment }} m-slide--text-small">
                    <div class="m-slide__media m:h-full">
                      {% if block.settings.item_image != blank %}
                        {% render 'responsive-image',
                          image: block.settings.item_image,
                          wrapper_class: 'm:w-full m:h-full'
                        %}
                      {% else %}
                        {% capture current %}{% cycle 1, 2, 3 %}{% endcapture %}
                        {{
                          'collection-'
                          | append: current
                          | placeholder_svg_tag: 'm-placeholder-svg m:w-full m:h-full m:object-cover m-image'
                        }}
                      {% endif %}
                    </div>
                    <div class="m-slide__wrapper{% if animated %} m-slide-animate--{{ animation_effect }}{% endif %}">
                      <div class="m-richtext m-richtext--{{ block.settings.text_size | replace: 'h3', 'small' }} m-slide__content m:text-{{ text_alignment }}">
                        {% if block.settings.subheading != blank %}
                          <div class="m-richtext__subtitle m-slide__subtitle m:text-{{ text_color }} {{ block.settings.text_size | replace: 'h1', 'h5' | replace: 'h2', 'h6' | replace: 'h3', 'h6' }}">
                            {{ block.settings.subheading }}
                          </div>
                        {% endif %}

                        {% if block.settings.heading != blank %}
                          <h2 class="m-richtext__title m-slide__title {{ heading_color }} {{ block.settings.text_size }}">
                            {{ block.settings.heading }}
                          </h2>
                        {% endif %}

                        {% if block.settings.description != blank %}
                          <div class="m-richtext__description m-slide__description rte {{ desc_color }} {{ block.settings.text_size | replace: 'h1', 'h5' | replace: 'h2', 'h6' | replace: 'h3', 'h6' }}">
                            {{ block.settings.description }}
                          </div>
                        {% endif %}

                        {% if block.settings.button_text != blank %}
                          <div class="m-richtext__button m-slide__button">
                            <a
                              href="{{ block.settings.button_link | default: "#" }}"
                              class="m-button {{ block.settings.button_style | replace: 'sf__btn-primary', 'm-button--primary' | replace: 'sf__btn-secondary', 'm-button--secondary' | replace: 'sf__btn-link', 'm-button--link' | replace: 'sf__btn-white', 'm-button--white' }} {{ block.settings.button_size }}"
                            >
                              {{- block.settings.button_text -}}
                            </a>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          {% render 'slider-controls',
            absolute: true,
            show_nav: false,
            pagination_class: 'm-dot-circle m-dot-circle--dark',
            extra_classes: 'm-slider-control--bottom-center'
          %}
        </div>
      </div>
      <div class="m-banner-with-slider__banner-group sm:m:grid">
        <div class="m-banner-with-slider__banner m-banner-with-slider__banner--small">
          <a
            href="{{ section.settings.button_link_2 | default: '#' }}"
            class="m-hover-box m-hover-box--scale-up m:block"
            aria-label="banner-2"
          >
            {% if section.settings.banner_image_2 %}
              {% render 'responsive-image',
                image: section.settings.banner_image_2,
                wrapper_class: 'm:w-full m:h-full'
              %}
            {% else %}
              <div class="m-placeholder-wrapper m:h-full m:w-full">
                {{
                  'collection-5'
                  | placeholder_svg_tag: 'm-placeholder-svg m-placeholder-svg--no-border m:w-full m:h-full'
                }}
              </div>
            {% endif %}
          </a>
          <div class="m-banner-with-slider__banner-content{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
            {% if section.settings.button_text_2 != blank %}
              <a
                href="{{ section.settings.button_link_2 | default: '#' }}"
                class="m-button {{ section.settings.button_style_2 | replace: 'sf__btn-primary', 'm-button--primary' | replace: 'sf__btn-secondary', 'm-button--secondary' | replace: 'sf__btn-link', 'm-button--link' | replace: 'sf__btn-white', 'm-button--white' }} {{ section.settings.button_size_2 }}"
                {% if animated %}
                  data-cascade
                  style="--animation-order: 2;"
                {% endif %}
              >
                {{ section.settings.button_text_2 }}
              </a>
            {% endif %}
          </div>
        </div>
        <div class="m-banner-with-slider__banner m-banner-with-slider__banner--small">
          <a
            href="{{ section.settings.button_link_3 | default: '#' }}"
            class="m-hover-box m-hover-box--scale-up m:block"
            aria-label="banner-3"
          >
            {% if section.settings.banner_image_3 %}
              {% render 'responsive-image',
                image: section.settings.banner_image_3,
                wrapper_class: 'm:w-full m:h-full'
              %}
            {% else %}
              <div class="m-placeholder-wrapper m:h-full m:w-full">
                {{
                  'collection-6'
                  | placeholder_svg_tag: 'm-placeholder-svg m-placeholder-svg--no-border m:w-full m:h-full'
                }}
              </div>
            {% endif %}
          </a>
          <div class="m-banner-with-slider__banner-content{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
            {% if section.settings.button_text_3 != blank %}
              <a
                href="{{ section.settings.button_link_3 | default: '#' }}"
                class="m-button {{ section.settings.button_style_3 | replace: 'sf__btn-primary', 'm-button--primary' | replace: 'sf__btn-secondary', 'm-button--secondary' | replace: 'sf__btn-link', 'm-button--link' | replace: 'sf__btn-white', 'm-button--white' }} {{ section.settings.button_size_3 }}"
                {% if animated %}
                  data-cascade
                  style="--animation-order: 3;"
                {% endif %}
              >
                {{ section.settings.button_text_3 }}
              </a>
            {% endif %}
          </div>
        </div>
      </div>
      <div
        class="m-mixed-layout m-mixed-layout--mobile-scroll sm:m:hidden {% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}"
        style="--column-gap-mobile: 16px;"
      >
        <div class="m-mixed-layout__inner">
          {% if section.settings.banner_image_2 %}
            <div class="m:column">
              <div class="m-banner-with-slider__card">
                <a
                  href="{{ section.settings.button_link_2 | default: '#' }}"
                  class="m-banner-with-slider__inner m:block"
                  aria-label="banner-4"
                >
                  <div class="m-banner-with-slider__card-img">
                    {% render 'responsive-image',
                      image: section.settings.banner_image_2,
                      wrapper_class: 'm:w-full m:h-full'
                    %}
                  </div>
                  {% if section.settings.button_text_2 != blank %}
                    <h4 class="m-banner-with-slider__card-title">{{ section.settings.button_text_2 }}</h4>
                  {% endif %}
                </a>
              </div>
            </div>
          {% endif %}
          {% if section.settings.banner_image_3 %}
            <div class="m:column">
              <div class="m-banner-with-slider__card">
                <a
                  href="{{ section.settings.button_link_3 | default: '#' }}"
                  class="m-banner-with-slider__inner m:block"
                  aria-label="banner-5"
                >
                  <div class="m-banner-with-slider__card-img">
                    {% render 'responsive-image',
                      image: section.settings.banner_image_3,
                      wrapper_class: 'm:w-full m:h-full'
                    %}
                  </div>
                  {% if section.settings.button_text_3 != blank %}
                    <h4 class="m-banner-with-slider__card-title">{{ section.settings.button_text_3 }}</h4>
                  {% endif %}
                </a>
              </div>
            </div>
          {% endif %}
          {% if section.settings.banner_image_1 %}
            <div class="m:column">
              <div class="m-banner-with-slider__card">
                <a
                  href="{{ section.settings.button_link_1 | default: '#' }}"
                  class="m-banner-with-slider__inner m:block"
                  aria-label="banner-6"
                >
                  <div class="m-banner-with-slider__card-img">
                    {% render 'responsive-image',
                      image: section.settings.banner_image_1,
                      wrapper_class: 'm:w-full m:h-full'
                    %}
                  </div>
                  {% if section.settings.button_text_1 != blank %}
                    <h4 class="m-banner-with-slider__card-title">{{ section.settings.button_text_1 }}</h4>
                  {% endif %}
                </a>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </m-banner-with-slide>
  </div>
</section>

{% schema %}
{
  "name": "Image with slider",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Watch tutorial](https://enfitah.com/help)"
    },
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "العنوان"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "حجم العنوان",
      "default": "h3",
      "options": [
        {
          "label": "متوسط",
          "value": "h3"
        },
        {
          "label": "كبير",
          "value": "h2"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "وصف فرعي"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "محاذاة النص",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "يسار"
        },
        {
          "value": "center",
          "label": "وسط"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "نوع الحاوية",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "افتراضي"
        },
        {
          "value": "w-full",
          "label": "عرض كامل"
        },
        {
          "value": "container",
          "label": "استخدام حاوية بصندوق"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "لوحة الألوان"
    },
    {
      "type": "header",
      "content": "Slider"
    },
    {
      "type": "checkbox",
      "id": "slide_autoplay",
      "label": "Auto-rotate slides",
      "default": false
    },
    {
      "type": "range",
      "id": "autorotate_speed",
      "label": "Change slides every",
      "info": "Work when auto-rotate",
      "max": 10,
      "min": 2,
      "step": 1,
      "unit": "s",
      "default": 5
    },
    {
      "type": "header",
      "content": "Banner Image 1"
    },
    {
      "type": "image_picker",
      "id": "banner_image_1",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text_1",
      "label": "نص الزر",
      "default": "إكتشفها الآن"
    },
    {
      "type": "url",
      "id": "button_link_1",
      "label": "رابط الزر"
    },
    {
      "type": "select",
      "id": "button_style_1",
      "label": "نمط الزر",
      "options": [
        {
          "value": "m-button--primary",
          "label": "زر أساسي"
        },
        {
          "value": "m-button--secondary",
          "label": "زر ثانوي"
        },
        {
          "value": "m-button--white",
          "label": "زر أبيض"
        },
        {
          "value": "m-button--link",
          "label": "زر مسطر"
        }
      ],
      "default": "m-button--white"
    },
    {
      "type": "select",
      "id": "button_size_1",
      "label": "حجم الزر",
      "options": [
        {
          "value": "m-button--small",
          "label": "زر صغير"
        },
        {
          "value": "",
          "label": "زر متوسط"
        },
        {
          "value": "m-button--large",
          "label": "زر كبير"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Banner Image 2"
    },
    {
      "type": "image_picker",
      "id": "banner_image_2",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text_2",
      "label": "نص الزر",
      "default": "إكتشفها الآن"
    },
    {
      "type": "url",
      "id": "button_link_2",
      "label": "رابط الزر"
    },
    {
      "type": "select",
      "id": "button_style_2",
      "label": "نمط الزر",
      "options": [
        {
          "value": "m-button--primary",
          "label": "زر أساسي"
        },
        {
          "value": "m-button--secondary",
          "label": "زر ثانوي"
        },
        {
          "value": "m-button--white",
          "label": "زر أبيض"
        },
        {
          "value": "m-button--link",
          "label": "زر مسطر"
        }
      ],
      "default": "m-button--white"
    },
    {
      "type": "select",
      "id": "button_size_2",
      "label": "حجم الزر",
      "options": [
        {
          "value": "m-button--small",
          "label": "زر صغير"
        },
        {
          "value": "",
          "label": "زر متوسط"
        },
        {
          "value": "m-button--large",
          "label": "زر كبير"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Banner image 3"
    },
    {
      "type": "image_picker",
      "id": "banner_image_3",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "button_text_3",
      "label": "نص الزر",
      "default": "إكتشفها الآن"
    },
    {
      "type": "url",
      "id": "button_link_3",
      "label": "Button link 3"
    },
    {
      "type": "select",
      "id": "button_style_3",
      "label": "نمط الزر",
      "options": [
        {
          "value": "m-button--primary",
          "label": "زر أساسي"
        },
        {
          "value": "m-button--secondary",
          "label": "زر ثانوي"
        },
        {
          "value": "m-button--white",
          "label": "زر أبيض"
        },
        {
          "value": "m-button--link",
          "label": "زر مسطر"
        }
      ],
      "default": "m-button--white"
    },
    {
      "type": "select",
      "id": "button_size_3",
      "label": "حجم الزر",
      "options": [
        {
          "value": "m-button--small",
          "label": "زر صغير"
        },
        {
          "value": "",
          "label": "زر متوسط"
        },
        {
          "value": "m-button--large",
          "label": "زر كبير"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "هامش علوي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "هامش سفلي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "كلاسات مخصصة"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "ظهور مع الأنيميشن",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "وراثة الإعداد العام"
        },
        {
          "value": "fade-in",
          "label": "تلاشي"
        },
        {
          "value": "fade-in-up",
          "label": "تلاشي للأعلى"
        },
        {
          "value": "fade-in-left",
          "label": "تلاشي لليسار"
        },
        {
          "value": "fade-in-right",
          "label": "تلاشي لليمين"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "item_slide",
      "name": "Item slide",
      "settings": [
        {
          "type": "header",
          "content": "Image settings"
        },
        {
          "type": "image_picker",
          "id": "item_image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "لوحة الألوان"
        },
        {
          "type": "select",
          "id": "content_text_color",
          "label": "لون النص",
          "default": "black",
          "options": [
            {
              "value": "black",
              "label": "داكن"
            },
            {
              "value": "white",
              "label": "فاتح"
            },
            {
              "value": "inherit",
              "label": "وراثة"
            }
          ]
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "default": "left middle",
          "options": [
            {
              "label": "Top left",
              "value": "left top"
            },
            {
              "label": "Top center",
              "value": "center top"
            },
            {
              "label": "Top right",
              "value": "right top"
            },
            {
              "label": "Middle left",
              "value": "left middle"
            },
            {
              "label": "Middle center",
              "value": "center middle"
            },
            {
              "label": "Middle right",
              "value": "right middle"
            },
            {
              "label": "Bottom left",
              "value": "left bottom"
            },
            {
              "label": "Bottom center",
              "value": "center bottom"
            },
            {
              "label": "Bottom right",
              "value": "right bottom"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_alignment",
          "label": "Content alignment",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "يسار"
            },
            {
              "value": "center",
              "label": "وسط"
            },
            {
              "value": "right",
              "label": "يمين"
            }
          ]
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "وصف فرعي",
          "default": "رائج هذا الأسبوع"
        },
        {
          "type": "textarea",
          "id": "heading",
          "label": "العنوان",
          "default": "تشكيلة جديدة وحصرية<br> هذا الأسبوع"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "الوصف"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "h3",
              "label": "صغير"
            },
            {
              "value": "h2",
              "label": "متوسط"
            },
            {
              "value": "h1",
              "label": "كبير"
            }
          ],
          "default": "h2"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "نص الزر",
          "default": "إكتشفها الآن"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "رابط الزر"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "نمط الزر",
          "options": [
            {
              "value": "m-button--primary",
              "label": "زر أساسي"
            },
            {
              "value": "m-button--secondary",
              "label": "زر ثانوي"
            },
            {
              "value": "m-button--white",
              "label": "زر أبيض"
            },
            {
              "value": "m-button--link",
              "label": "زر مسطر"
            }
          ],
          "default": "m-button--link"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "حجم الزر",
          "options": [
            {
              "value": "m-button--small",
              "label": "زر صغير"
            },
            {
              "value": "",
              "label": "زر متوسط"
            },
            {
              "value": "m-button--large",
              "label": "زر كبير"
            }
          ],
          "default": ""
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with slider",
      "category": "Banner",
      "blocks": [
        {
          "type": "item_slide"
        },
        {
          "type": "item_slide"
        },
        {
          "type": "item_slide"
        }
      ]
    }
  ]
}
{% endschema %}
