{{ 'countdown-timer.css' | asset_url | stylesheet_tag }}
{% liquid
  assign section_height = section.settings.section_height

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif

  assign background_image = section.settings.background_image
  assign mb_image = section.settings.mb_image
  assign classes = 'm-section m-countdown-section'
  if section.settings.custom_class != blank
    assign classes = classes | append: ' ' | append: section.settings.custom_class
  endif
  assign classes = classes | append: ' m-countdown-section--'| append: section_height | append: ' m-gradient' | append: ' m-color-' | append: section.settings.color_scheme

  %}

  <style>
    #m-countdown-{{ section.id }} {
      --section-padding-top: {{ section.settings.padding_top }}px; 
      --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  </style>

<section
  id="m-countdown-{{ section.id }}"
  data-section-type="countdown-timer"
  data-section-id="{{ section.id }}"
  class="{{ classes }}"
>
  {% if background_image != blank %}
    <div class="m-countdown-section__bg md:m:block{% if mb_image != blank %} m:hidden{% endif %}">
      {% liquid
        assign image_height = background_image.width | divided_by: background_image.aspect_ratio | round
      %}
      {{ background_image | image_url: width: 3840 | image_tag:
        loading: 'lazy',
        width: background_image.width,
        height: image_height,
        sizes: '100vw',
        widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
        alt: background_image.alt | escape
      }}
    </div>
  {% endif %}
  <div class="{{ container }} m-section-my m-section-py">
    {% if mb_image != blank %}
      <div class="m-countdown-section__bg-mobile md:m:hidden">
        {%- liquid
          assign bg_image_height = mb_image.width | divided_by: mb_image.aspect_ratio | round
        -%}
        {{ mb_image | image_url: width: 1100 | image_tag:
          loading: 'lazy',
          width: mb_image.width,
          height: bg_image_height,
          sizes: '100vw',
          widths: '375, 550, 750, 1100',
          alt: mb_image.alt | escape
        }}
      </div>
    {% endif %}
    <div class="m-countdown m-countdown-section__inner{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %} m:flex m:items-center m:justify-center md:m:justify-{{ section.settings.align }}">
      <div class="m-countdown__inner m:text-center">
        {% if section.settings.heading != blank %}
          <h3 class="m-countdown__heading">{{ section.settings.heading }}</h3>
        {% endif %}
        {% render 'countdown-timer', time: section.settings.time, extra_classes: 'm:text-color-body' %}
        {% if section.settings.button_label != blank %}
          <div class="m-countdown__button">
            <a class="m-button {{ section.settings.button_style | replace: 'sf__btn-primary', 'm-button--primary' | replace: 'sf__btn-secondary', 'm-button--secondary' | replace: 'sf__btn-link', 'm-button--link' | replace: 'sf__btn-white', 'm-button--white' }} {{ section.settings.button_size }} m:block" href="{{ section.settings.button_link }}">
              {{- section.settings.button_label -}}
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Countdown timer",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "[Watch tutorial](https://enfitah.com/help)"
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "نوع الحاوية",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "افتراضي"
        },
        {
          "value": "w-full",
          "label": "عرض كامل"
        },
        {
          "value": "container",
          "label": "استخدام حاوية بصندوق"
        }
      ]
    },
    {
      "type": "select",
      "id": "section_height",
      "label": "Section height",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "صغير"
        },
        {
          "value": "medium",
          "label": "متوسط"
        },
        {
          "value": "large",
          "label": "كبير"
        }
      ],
      "info": "Only applies to screens > 767px"
    },
    {
      "type": "select",
      "id": "align",
      "label": "Alignment",
      "default": "center",
      "options": [
        {
          "value": "start",
          "label": "يسار"
        },
        {
          "value": "center",
          "label": "وسط"
        },
        {
          "value": "end",
          "label": "يمين"
        }
      ]
    },
    {
      "type": "header",
      "content": "Background settings"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "لوحة الألوان"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "Image on mobile"
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "العنوان",
      "default": "أسرع - بسرعة! سينتهي العرض خلال"
    },
    {
      "type": "text",
      "id": "time",
      "label": "End time",
      "default": "2024-12-12 23:00:00",
      "info": "Date format: YYYY-MM-DD HH:MM:ss"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "نص الزر",
      "default": "تسوق الآن",
      "info": "Leave blank to hide button"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "رابط الزر"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "نمط الزر",
      "options": [
        {
          "value": "m-button--primary",
          "label": "زر أساسي"
        },
        {
          "value": "m-button--secondary",
          "label": "زر ثانوي"
        },
        {
          "value": "m-button--white",
          "label": "زر أبيض"
        },
        {
          "value": "m-button--link",
          "label": "زر مسطر"
        }
      ],
      "default": "m-button--white"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "حجم الزر",
      "options": [
        {
          "value": "m-button--small",
          "label": "زر صغير"
        },
        {
          "value": "",
          "label": "زر متوسط"
        },
        {
          "value": "m-button--large",
          "label": "زر كبير"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "هامش علوي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "هامش سفلي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "كلاسات مخصصة"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "ظهور مع الأنيميشن",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "وراثة الإعداد العام"
        },
        {
          "value": "fade-in",
          "label": "تلاشي"
        },
        {
          "value": "fade-in-up",
          "label": "تلاشي للأعلى"
        },
        {
          "value": "fade-in-left",
          "label": "تلاشي لليسار"
        },
        {
          "value": "fade-in-right",
          "label": "تلاشي لليمين"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Countdown timer",
      "category": "Promotional"
    }
  ]
}
{% endschema %}
