{{ 'hero.css' | asset_url | stylesheet_tag }}

{% liquid
  assign show_overlay = section.settings.show_overlay
  assign parallax = section.settings.parallax

  if section.settings.hero_size == 'adapt'
    assign min_aspect_ratio = section.settings.image.aspect_ratio | default: 2.333
    assign aspect_ratio_mobile = section.settings.mb_image.aspect_ratio | default: min_aspect_ratio
  endif

  assign content_positions = section.settings.content_position | split: ' '
  assign text_horizontal_alignment = content_positions.first
  assign text_vertical_alignment = content_positions.last | strip
  assign text_size = section.settings.text_size
  assign image_link = section.settings.image_link

  assign content_container = 'container-fluid'
  if section.settings.content_in_container == true
    assign content_container = 'container'
  endif

  assign mb_image = section.settings.image
  if section.settings.mb_image != blank
    assign mb_image = section.settings.mb_image
  endif

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif

  assign sub_text_size = 'h6'
  assign heading_text_size = 'h2'
  if text_size == 'large'
    assign sub_text_size = 'h5'
    assign heading_text_size = 'h1'
  endif

  assign text_color = section.settings.text_color

  assign classes = 'm-section m-hero-section'
  if section.settings.custom_class != blank
    assign classes = classes | append: ' ' | append: section.settings.custom_class
  endif

  assign heading_color = ''
  assign desc_color = 'm:text-color-subtext'
  if text_color != 'inherit'
    assign heading_color = heading_color | append: 'm:text-' | append: text_color
    assign desc_color = 'm:text-' | append: text_color
  endif
%}
{%- capture main_classes -%}
  m-hero m-hero--{{ section.settings.hero_size }}
  m-gradient m-color-{{ section.settings.color_scheme }}
{% if image_link != blank %} m-hero--has-link{% endif %}
{% if section.settings.mb_image != blank %} m-hero__mobile-no-overlay{% endif %}
{% if show_overlay %} m-hero--has-overlay{% endif %}
{% unless section.settings.use_content_above %} m-hero--content-stack{% endunless %}
{% if animated and section.settings.enable_bg_zoom_effect %} m:overflow-hidden m-scroll-trigger animate--zoom-fade{% endif %}
{%- endcapture -%}

<section
  id="m-hero-section-{{ section.id }}"
  class="{{ classes }}"
  data-section-type="hero"
  data-section-id="{{ section.id }}"
>
  <div class="{{ container }}">
    <m-hero data-parallax="{{ parallax }}" id="m-hero-{{ section.id }}" class="{{ main_classes | strip_newlines }}">
      {% unless section.settings.image != blank %}
        <div class="m-hero__bg m-image m:hidden md:m:block m:overflow-hidden">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'm-placeholder-svg m:w-full m:h-full' }}
        </div>
      {% else %}
        {% if parallax %}
          <div
            class="m-hero__bg m-hero__parallax m:hidden md:m:block"
            style="background-position: {{ section.settings.bg_position | default: 'center' }};{% if section.settings.hero_size == 'adapt' %}--aspect-ratio: {{ min_aspect_ratio }};{% endif %}"
            data-src="{{ section.settings.image | image_url }}"
          ></div>
        {% else %}
          {%- liquid
            assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio | round
            assign lazy_load = 'eager'
            unless forloop.first
              assign lazy_load = 'lazy'
            endunless
          -%}
          <div
            class="m-hero__bg m-image m:hidden md:m:block m:overflow-hidden"
            {% if section.settings.hero_size == 'adapt' %}
              style="--aspect-ratio: {{ min_aspect_ratio }};"
            {% endif %}
          >
            {{
              section.settings.image
              | image_url: width: 3840
              | image_tag:
                loading: lazy_load,
                width: section.settings.image.width,
                height: image_height,
                sizes: '100vw',
                widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
                alt: section.settings.image.alt
              | escape
            }}
          </div>
        {% endif %}
      {% endunless %}
      {% if image_link != blank %}
        <a href="{{ image_link }}" class="m-hidden-link"></a>
      {% endif %}
      {% if mb_image == blank %}
        <div class="m-hero__bg m-image m:block md:m:hidden m:overflow-hidden">
          {{ 'lifestyle-2' | placeholder_svg_tag: 'm-placeholder-svg m:w-full m:h-full' }}
        </div>
      {% else %}
        <div
          class="m-hero__bg m-image m:block md:m:hidden"
          {% if section.settings.hero_size == 'adapt' %}
            style="--aspect-ratio: {{ aspect_ratio_mobile }};"
          {% endif %}
        >
          {%- liquid
            assign image_height = mb_image.width | divided_by: mb_image.aspect_ratio | round
            assign lazy_load = 'eager'
            unless forloop.first
              assign lazy_load = 'lazy'
            endunless
          -%}
          {{
            mb_image
            | image_url: width: 1100
            | image_tag:
              loading: lazy_load,
              width: mb_image.width,
              height: image_height,
              sizes: '100vw',
              widths: '375, 550, 750, 1100',
              alt: mb_image.alt
            | escape
          }}
        </div>
      {% endif %}

      <div class="m-hero__inner m-hero__inner--{{ text_vertical_alignment }}-{{ text_horizontal_alignment }} {{ content_container }}">
        <div class="m-hero__content m:text-{{ section.settings.text_alignment_mobile }} md:m:text-{{ section.settings.text_alignment }} m-text--{{ text_color }}">
          {% if section.settings.subtitle != blank %}
            <span class="m-hero__subtitle {{ sub_text_size }} m:text-{{ text_color }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              {{- section.settings.subtitle -}}
            </span>
          {% endif %}
          {% if section.settings.title != blank %}
            <h2 class="m-hero__title {{ heading_text_size }} {{ heading_color }}{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              {{ section.settings.title }}
            </h2>
          {% endif %}
          {% if section.settings.text != blank %}
            <div class="m-hero__text rte {{ sub_text_size }} {{ desc_color }} {% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              {{ section.settings.text }}
            </div>
          {% endif %}
          {% if section.settings.button_label != blank %}
            <div class="m-hero__btn{% if animated %} m-scroll-trigger animate--{{ animation_effect }}{% endif %}">
              <a
                href="{{ section.settings.button_link }}"
                class="m-button {{ section.settings.button_style | replace: 'sf__btn-primary', 'm-button--primary' | replace: 'sf__btn-secondary', 'm-button--secondary' | replace: 'sf__btn-link', 'm-button--link' | replace: 'sf__btn-white', 'm-button--white' }} {{ section.settings.button_size }}"
              >
                {{- section.settings.button_label -}}
              </a>
            </div>
          {% endif %}
        </div>
      </div>
    </m-hero>
  </div>
</section>

{% schema %}
{
  "name": "Image with text overlay",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "لوحة الألوان"
    },
    {
      "type": "select",
      "id": "container",
      "label": "نوع الحاوية",
      "default": "w-full",
      "options": [
        {
          "value": "container-fluid",
          "label": "افتراضي"
        },
        {
          "value": "w-full",
          "label": "عرض كامل"
        },
        {
          "value": "container",
          "label": "استخدام حاوية بصندوق"
        }
      ]
    },
    {
      "type": "select",
      "id": "hero_size",
      "label": "Section height",
      "default": "adapt",
      "options": [
        {
          "label": "ملاءمة الصورة",
          "value": "adapt"
        },
        {
          "label": "صغير",
          "value": "small"
        },
        {
          "label": "متوسط",
          "value": "medium"
        },
        {
          "label": "كبير",
          "value": "large"
        },
        {
          "label": "Full-screen",
          "value": "fullscreen"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_overlay",
      "label": "Show overlay",
      "default": true
    },
    {
      "type": "header",
      "content": "Background settings"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "select",
      "id": "bg_position",
      "label": "Image alignment",
      "default": "center",
      "info": "Only work if Parallax effect is enabled.",
      "options": [
        {
          "label": "Top left",
          "value": "left top"
        },
        {
          "label": "Top center",
          "value": "center top"
        },
        {
          "label": "Top right",
          "value": "right top"
        },
        {
          "label": "Middle left",
          "value": "left center"
        },
        {
          "label": "Middle center",
          "value": "center"
        },
        {
          "label": "Middle right",
          "value": "right center"
        },
        {
          "label": "Bottom left",
          "value": "left bottom"
        },
        {
          "label": "Bottom center",
          "value": "center bottom"
        },
        {
          "label": "Bottom right",
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Image link"
    },
    {
      "type": "checkbox",
      "id": "parallax",
      "label": "Parallax effect",
      "default": false
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "checkbox",
      "id": "content_in_container",
      "label": "Content in container box",
      "default": false
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "default": "center middle",
      "options": [
        {
          "label": "Top left",
          "value": "left top"
        },
        {
          "label": "Top center",
          "value": "center top"
        },
        {
          "label": "Top right",
          "value": "right top"
        },
        {
          "label": "Middle left",
          "value": "left middle"
        },
        {
          "label": "Middle center",
          "value": "center middle"
        },
        {
          "label": "Middle right",
          "value": "right middle"
        },
        {
          "label": "Bottom left",
          "value": "left bottom"
        },
        {
          "label": "Bottom center",
          "value": "center bottom"
        },
        {
          "label": "Bottom right",
          "value": "right bottom"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Content alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "يسار"
        },
        {
          "value": "center",
          "label": "وسط"
        },
        {
          "value": "right",
          "label": "يمين"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "Text size",
      "default": "medium",
      "options": [
        {
          "label": "متوسط",
          "value": "medium"
        },
        {
          "label": "كبير",
          "value": "large"
        }
      ]
    },
    {
      "type": "select",
      "id": "text_color",
      "label": "لون النص",
      "info": "Work when contents above image",
      "options": [
        {
          "label": "داكن",
          "value": "black"
        },
        {
          "label": "فاتح",
          "value": "white"
        },
        {
          "value": "inherit",
          "label": "وراثة"
        }
      ],
      "default": "white"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "العنوان",
      "default": "صورة مع تراكب النص"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "وصف فرعي",
      "placeholder": "New Arrivals"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>استخدم النص المتراكب لمنح عملائك فكرة عن علامتك التجارية. حدد الصور والنصوص التي تتعلق بأسلوبك وقصتك.</p>"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "نص الزر",
      "default": "تسوق الآن"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "رابط الزر"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "نمط الزر",
      "options": [
        {
          "value": "m-button--primary",
          "label": "زر أساسي"
        },
        {
          "value": "m-button--secondary",
          "label": "زر ثانوي"
        },
        {
          "value": "m-button--white",
          "label": "زر أبيض"
        },
        {
          "value": "m-button--link",
          "label": "زر مسطر"
        }
      ],
      "default": "m-button--primary"
    },
    {
      "type": "select",
      "id": "button_size",
      "label": "حجم الزر",
      "options": [
        {
          "value": "m-button--small",
          "label": "زر صغير"
        },
        {
          "value": "",
          "label": "زر متوسط"
        },
        {
          "value": "m-button--large",
          "label": "زر كبير"
        }
      ],
      "default": ""
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "select",
      "id": "text_alignment_mobile",
      "label": "Content alignment",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "يسار"
        },
        {
          "value": "center",
          "label": "وسط"
        },
        {
          "value": "right",
          "label": "يمين"
        }
      ]
    },
    {
      "type": "image_picker",
      "id": "mb_image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "use_content_above",
      "label": "Use content above image",
      "default": false
    },
    {
      "type": "header",
      "content": "Advanced settings"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "كلاسات مخصصة"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "ظهور مع الأنيميشن",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "وراثة الإعداد العام"
        },
        {
          "value": "fade-in",
          "label": "تلاشي"
        },
        {
          "value": "fade-in-up",
          "label": "تلاشي للأعلى"
        },
        {
          "value": "fade-in-left",
          "label": "تلاشي لليسار"
        },
        {
          "value": "fade-in-right",
          "label": "تلاشي لليمين"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_bg_zoom_effect",
      "label": "Enable background zoom effect",
      "default": true
    }
  ],
  "presets": [
    {
      "name": "Image with text overlay",
      "category": "Image"
    }
  ]
}
{% endschema %}
