{{ 'component-image-card.css' | asset_url | stylesheet_tag }}
{{ 'image-cards.css' | asset_url | stylesheet_tag }}

{% liquid
  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif

  assign grid_cols = ''
  assign grid_rows = ''
  case section.settings.layout
    when 'layout_1'
      assign grid_cols = 'lg:m:grid-4-cols'
    when 'layout_2'
      assign grid_cols = 'lg:m:grid-3-cols'
    when 'layout_3'
      assign grid_cols = 'lg:m:grid-4-cols'
      assign grid_rows = 'm:grid-3-rows'
    when 'layout_4'
      assign grid_cols = 'lg:m:grid-4-cols'
      assign grid_rows = 'm:grid-2-rows'
    when 'layout_5'
      assign grid_cols = 'lg:m:grid-4-cols'
      assign grid_rows = 'm:grid-2-rows'
  endcase

  assign layout = section.settings.layout | replace: '_', '-'

  assign classes = 'm-section m-image-cards m-swiper-overflow'
  if section.settings.custom_class != blank
    assign classes = classes | append: ' ' | append: section.settings.custom_class
  endif
  assign classes = classes | append: ' m-image-cards--' | append: layout | append: ' m-gradient' | append: ' m-color-' | append: section.settings.color_scheme
%}

<style>
  #m-image-cards-{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px; 
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --mobile-column-width: 66vw; --column-gap: {{ section.settings.gap }}px; 
    --column-gap-mobile: {{ section.settings.mobile_gap }}px
  }

</style>

<section
    class="{{ classes }}"
    id="m-image-cards-{{ section.id }}"
>
  <div class="{{ container }} m-section-my m-section-py">
    {% render 'index-section-header', section_settings: section.settings %}
    <div class="m-mixed-layout{% if section.settings.use_scroll_mobile %} m-mixed-layout--mobile-scroll{% endif %}">
      <div class="m-mixed-layout__inner m:grid {{ grid_cols }} {{ grid_rows }} sm:m:grid-2-cols m:grid-1-cols">
        {% for block in section.blocks %}
          {% render 'image-card', 
            block: block, 
            grid_columns: 'm:column',
            stack_on_mobile: true, 
            image_card_class: 'm-hover-box m-hover-box--scale-up',
            index: forloop.index,
            animated: animated, 
            animation_effect: animation_effect,
            color_scheme: block.settings.color_scheme
          %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image cards",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "max_blocks": 5,
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "العنوان",
      "default": "مجموعة مميزة"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "حجم العنوان",
      "default": "h3",
      "options": [
        {
          "label": "متوسط",
          "value": "h3"
        },
        {
          "label": "كبير",
          "value": "h2"
        }
      ]
    },
    {
      "type": "html",
      "id": "subheading",
      "label": "وصف فرعي"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "الوصف"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "محاذاة النص",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "يسار"
        },
        {
          "value": "center",
          "label": "وسط"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "نوع الحاوية",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "افتراضي"
        },
        {
          "value": "w-full",
          "label": "عرض كامل"
        },
        {
          "value": "container",
          "label": "استخدام حاوية بصندوق"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "لوحة الألوان"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "التخطيط",
      "options": [
        {
          "value": "layout_1",
          "label": "Grid layout 1"
        },
        {
          "value": "layout_2",
          "label": "Grid layout 2"
        },
        {
          "value": "layout_3",
          "label": "Grid layout 3"
        },
        {
          "value": "layout_4",
          "label": "Grid layout 4"
        },
        {
          "value": "layout_5",
          "label": "Grid layout 5"
        }
      ]
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Item gap",
      "default": 30,
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Mobile settings"
    },
    {
      "type": "checkbox",
      "id": "use_scroll_mobile",
      "label": "Enable horizontal scroll",
      "default": true
    },
    {
      "type": "range",
      "id": "mobile_gap",
      "label": "Item gap",
      "default": 10,
      "min": 0,
      "max": 30,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "هامش علوي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "هامش سفلي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "كلاسات مخصصة"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "ظهور مع الأنيميشن",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "وراثة الإعداد العام"
        },
        {
          "value": "fade-in",
          "label": "تلاشي"
        },
        {
          "value": "fade-in-up",
          "label": "تلاشي للأعلى"
        },
        {
          "value": "fade-in-left",
          "label": "تلاشي لليسار"
        },
        {
          "value": "fade-in-right",
          "label": "تلاشي لليمين"
        }
      ]
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Banner",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "لوحة الألوان"
        },
        {
          "type": "header",
          "content": "Image settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "mobile_image",
          "label": "Mobile image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image link"
        },
        {
          "type": "header",
          "content": "Content"
        },
        {
          "type": "select",
          "id": "content_position",
          "label": "Content position",
          "options": [
            {
              "value": "top_left",
              "label": "Top left"
            },
            {
              "value": "top_center",
              "label": "Top center"
            },
            {
              "value": "top_right",
              "label": "Top right"
            },
            {
              "value": "center_left",
              "label": "Middle left"
            },
            {
              "value": "center_center",
              "label": "Middle center"
            },
            {
              "value": "center_right",
              "label": "Middle right"
            },
            {
              "value": "bottom_left",
              "label": "Bottom left"
            },
            {
              "value": "bottom_center",
              "label": "Bottom center"
            },
            {
              "value": "bottom_right",
              "label": "Bottom right"
            }
          ],
          "default": "center_center"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "Content alignment",
          "default": "center",
          "options": [
            {
              "value": "left",
              "label": "يسار"
            },
            {
              "value": "center",
              "label": "وسط"
            },
            {
              "value": "right",
              "label": "يمين"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text size",
          "options": [
            {
              "value": "small",
              "label": "صغير"
            },
            {
              "value": "medium",
              "label": "متوسط"
            },
            {
              "value": "large",
              "label": "كبير"
            }
          ],
          "default": "medium"
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "لون النص",
          "info": "Work only on desktop",
          "options": [
            {
              "value": "white",
              "label": "فاتح"
            },
            {
              "value": "black",
              "label": "داكن"
            },
            {
              "value": "inherit",
              "label": "وراثة"
            }
          ],
          "default": "black"
        },
        {
          "type": "text",
          "id": "title",
          "label": "العنوان",
          "default": "بطاقة الصورة"
        },
        {
          "type": "textarea",
          "id": "subtitle",
          "label": "Sub heading"
        },
        {
          "type": "header",
          "content": "Button settings"
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "نص الزر",
          "default": "تسوق الآن"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "نمط الزر",
          "options": [
            {
              "value": "m-button--primary",
              "label": "زر أساسي"
            },
            {
              "value": "m-button--secondary",
              "label": "زر ثانوي"
            },
            {
              "value": "m-button--white",
              "label": "زر أبيض"
            },
            {
              "value": "m-button--link",
              "label": "زر مسطر"
            }
          ],
          "default": "m-button--primary"
        },
        {
          "type": "select",
          "id": "button_size",
          "label": "حجم الزر",
          "options": [
            {
              "value": "m-button--small",
              "label": "زر صغير"
            },
            {
              "value": "",
              "label": "زر متوسط"
            },
            {
              "value": "m-button--large",
              "label": "زر كبير"
            }
          ],
          "default": ""
        },
        {
          "type": "checkbox",
          "id": "button_fixed",
          "label": "Fixed on bottom",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image cards",
      "category": "Image",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
