{{ 'lookbook.css' | asset_url | stylesheet_tag }}

{% liquid
  assign item_blocks = section.blocks | where: 'type', 'item'

  assign animation_effect = settings.animations
  assign animated = false
  if animation_effect != 'none'
    assign animated = true
    if section.settings.animations != 'inherit'
      assign animation_effect = section.settings.animations
    endif
  endif

  assign container = section.settings.container
  if container == 'w-full'
    assign container = 'container-full'
  endif

  assign classes = 'm-section m-lookbook'
  if section.settings.custom_class != blank
    assign classes = classes | append: ' ' | append: section.settings.custom_class
  endif
  assign classes = classes | append: ' m-gradient' | append: ' m-color-' | append: section.settings.color_scheme

%}
<style>
  #m-lookbook--{{ section.id }} {
    --section-padding-top: {{ section.settings.padding_top }}px; 
    --section-padding-bottom: {{ section.settings.padding_bottom }}px;
    --column-gap: 30px; 
    --row-gap: 30px; 
    --column-gap-mobile: 16px;
  }
</style>
<section
  id="m-lookbook--{{ section.id }}"
  class="{{ classes }}"
  data-section-type="lookbook"
  data-section-id="{{ section.id }}"
>
  <div
    class="{{ container }} m-section-my m-section-py">
    {% render 'index-section-header', section_settings: section.settings %}
    {% if section.blocks.size > 0 %}
      <div class="m:grid md:m:grid m:grid-1-cols md:m:grid-2-cols lg:m:grid-{{ item_blocks.size }}-cols">
        {% for block in section.blocks %}
          {% if block.type == 'lookbook-slider' %}
            {% liquid
              assign block_classes = 'm:column m-lookbook__col-full'
              assign block_classes = block_classes | append: ' m-gradient' | append: ' m-color-' | append: block.settings.color_scheme
            %}
            <div class="{{ block_classes }}">
              {% render 'lookbook-card-slider',
                  block: block,
                  image_aspect_ratio: section.settings.image_aspect_ratio,
                  index: forloop.index,
                  animated: animated,
                  animation_effect: animation_effect
              %}
            </div>
          {% else %}
            <div class="m:column">
              {% render 'lookbook-card',
                block: block,
                image_aspect_ratio: section.settings.image_aspect_ratio,
                index: forloop.index,
                animated: animated,
                animation_effect: animation_effect
              %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Lookbook",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "Section header"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "العنوان",
      "default": "اختيروا بعناية"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "حجم العنوان",
      "default": "h3",
      "options": [
        {
          "label": "متوسط",
          "value": "h3"
        },
        {
          "label": "كبير",
          "value": "h2"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "وصف فرعي"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "الوصف"
    },
    {
      "type": "select",
      "id": "header_alignment",
      "label": "محاذاة النص",
      "default": "center",
      "options": [
        {
          "value": "left",
          "label": "يسار"
        },
        {
          "value": "center",
          "label": "وسط"
        }
      ]
    },
    {
      "type": "header",
      "content": "General"
    },
    {
      "type": "select",
      "id": "container",
      "label": "نوع الحاوية",
      "default": "container-fluid",
      "options": [
        {
          "value": "container-fluid",
          "label": "افتراضي"
        },
        {
          "value": "w-full",
          "label": "عرض كامل"
        },
        {
          "value": "container",
          "label": "استخدام حاوية بصندوق"
        }
      ]
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "لوحة الألوان"
    },
    {
      "type": "select",
      "id": "image_aspect_ratio",
      "label": "Image aspect ratio",
      "default": "3/4",
      "options": [
        {
          "value": "original",
          "label": "ملاءمة الصورة"
        },
        {
          "value": "1/1",
          "label": "1:1"
        },
        {
          "value": "3/4",
          "label": "3:4"
        },
        {
          "value": "4/3",
          "label": "4:3"
        },
        {
          "value": "16/9",
          "label": "16:9"
        }
      ]
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "هامش علوي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "label": "هامش سفلي",
      "default": 0,
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Custom Attributes"
    },
    {
      "type": "text",
      "id": "custom_class",
      "label": "كلاسات مخصصة"
    },
    {
      "type": "header",
      "content": "Animations"
    },
    {
      "type": "select",
      "id": "animations",
      "label": "ظهور مع الأنيميشن",
      "default": "inherit",
      "options": [
        {
          "value": "inherit",
          "label": "وراثة الإعداد العام"
        },
        {
          "value": "fade-in",
          "label": "تلاشي"
        },
        {
          "value": "fade-in-up",
          "label": "تلاشي للأعلى"
        },
        {
          "value": "fade-in-left",
          "label": "تلاشي لليسار"
        },
        {
          "value": "fade-in-right",
          "label": "تلاشي لليمين"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "لوحة الألوان",
          "info": "Adjust color scheme for hovered product cards."
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Title",
          "default": "عرض هذه المجموعة"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Title link"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "نمط الزر",
          "options": [
            {
              "value": "dark",
              "label": "داكن"
            },
            {
              "value": "light",
              "label": "فاتح"
            }
          ]
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        }
      ]
    },
    {
      "type": "lookbook-slider",
      "name": "Lookbook slider",
      "settings": [
        {
          "type": "header",
          "content": "General"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "لوحة الألوان"
        },
        {
          "type": "header",
          "content": "العنوان"
        },
        {
          "type": "textarea",
          "id": "sub_title",
          "label": "وصف فرعي"
        },
        {
          "type": "textarea",
          "id": "title",
          "label": "العنوان",
          "default": "Shop this look"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "label": "محاذاة النص",
          "default": "left",
          "options": [
            {
              "value": "left",
              "label": "يسار"
            },
            {
              "value": "center",
              "label": "وسط"
            },
            {
              "value": "right",
              "label": "يمين"
            }
          ]
        },
        {
          "type": "select",
          "id": "text_color",
          "label": "لون النص",
          "options": [
            {
              "value": "white",
              "label": "فاتح"
            },
            {
              "value": "black",
              "label": "داكن"
            },
            {
              "value": "inherit",
              "label": "وراثة"
            }
          ],
          "default": "black"
        },
        {
          "type": "header",
          "content": "Settings"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "select",
          "id": "button_style",
          "label": "نمط الزر",
          "options": [
            {
              "value": "dark",
              "label": "داكن"
            },
            {
              "value": "light",
              "label": "فاتح"
            }
          ]
        },
        {
          "type": "color_scheme",
          "id": "color_scheme_hovered",
          "label": "لوحة الألوان",
          "info": "Adjust color scheme for hovered product cards."
        },
        {
          "type": "header",
          "content": "Product 1"
        },
        {
          "type": "range",
          "id": "top_1",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 9
        },
        {
          "type": "range",
          "id": "left_1",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 63
        },
        {
          "type": "product",
          "id": "product_1",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 2"
        },
        {
          "type": "range",
          "id": "top_2",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 26
        },
        {
          "type": "range",
          "id": "left_2",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 50
        },
        {
          "type": "product",
          "id": "product_2",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 3"
        },
        {
          "type": "range",
          "id": "top_3",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 61
        },
        {
          "type": "range",
          "id": "left_3",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 48
        },
        {
          "type": "product",
          "id": "product_3",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 4"
        },
        {
          "type": "range",
          "id": "top_4",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "range",
          "id": "left_4",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_4",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Product 5"
        },
        {
          "type": "range",
          "id": "top_5",
          "label": "Offset top",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 20
        },
        {
          "type": "range",
          "id": "left_5",
          "label": "Offset left",
          "min": 0,
          "max": 100,
          "unit": "%",
          "step": 1,
          "default": 0
        },
        {
          "type": "product",
          "id": "product_5",
          "label": "Select product"
        },
        {
          "type": "header",
          "content": "Slider settings"
        },
        {
          "type": "select",
          "id": "product_per_view",
          "label": "Columns",
          "default": "2",
          "options": [
            {
              "value": "2",
              "label": "2 Columns"
            },
            {
              "value": "1",
              "label": "1 Column"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_pagination",
          "label": "Show pagination",
          "default": true
        },
        {
          "type": "checkbox",
          "id": "show_navigation",
          "label": "Show navigation",
          "default": true
        },
        {
          "type": "header",
          "content": "Product card settings"
        },
        {
          "type": "select",
          "id": "pcard_layout",
          "label": "Design layout",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "1",
              "label": "Style 1"
            },
            {
              "value": "2",
              "label": "Style 2"
            },
            {
              "value": "3",
              "label": "Style 3"
            },
            {
              "value": "4",
              "label": "Style 4"
            },
            {
              "value": "5",
              "label": "Style 5"
            }
          ]
        },
        {
          "type": "select",
          "id": "pcard_image_ratio",
          "label": "Image aspect ratio",
          "default": "",
          "options": [
            {
              "value": "",
              "label": "Use global settings"
            },
            {
              "value": "original",
              "label": "Original aspect ratio"
            },
            {
              "value": "1/1",
              "label": "1:1"
            },
            {
              "value": "3/4",
              "label": "3:4"
            },
            {
              "value": "4/3",
              "label": "4:3"
            },
            {
              "value": "16/9",
              "label": "16:9"
            }
          ]
        },
        {
          "type": "checkbox",
          "id": "show_vendor",
          "label": "Show product vendors",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_title",
          "label": "Hide product title",
          "default": false
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook",
      "category": "Lookbook",
      "blocks": [
        {
          "type": "item"
        },
        {
          "type": "item"
        }
      ]
    }
  ]
}
{% endschema %}
